In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [17]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -1.576022 -0.618857
   2 -1.323564  0.779489
   3 -0.105838  1.562405
G2 1 -0.097671  1.247844
   2 -1.137807 -0.959232
   3 -1.025304  0.264626

In [13]:
df.loc['G1'].loc[1]

A   -1.576022
B   -0.618857
Name: 1, dtype: float64

In [14]:
df

             A         B
G1 1 -1.576022 -0.618857
   2 -1.323564  0.779489
   3 -0.105838  1.562405
G2 1 -0.097671  1.247844
   2 -1.137807 -0.959232
   3 -1.025304  0.264626

In [15]:
df.index.names

FrozenList([None, None])

In [24]:
df.index.names=['Groups','Num']
df

                   A         B
Groups Num
G1     1   -1.576022 -0.618857
       2   -1.323564  0.779489
       3   -0.105838  1.562405
G2     1   -0.097671  1.247844
       2   -1.137807 -0.959232
       3   -1.025304  0.264626

In [27]:
df.loc['G1'].loc[2]['A']

-1.3235644967435873

In [28]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1   -1.576022 -0.618857
       2   -1.323564  0.779489
       3   -0.105838  1.562405
G2     1   -0.097671  1.247844
       2   -1.137807 -0.959232
       3   -1.025304  0.264626>

In [29]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.576022 -0.618857
G2     -0.097671  1.247844

In [35]:
df2=pd.DataFrame(randn(2,6),['A','B'],hier_index)
df2

Groups        G1                            G2
Num            1         2         3         1         2         3
A       0.322760 -0.926964  0.578319 -0.000820  0.250009 -0.844108
B      -0.448073 -1.541269  0.450959  0.659722 -0.767717  1.491454

In [36]:
df2.xs(1,level='Num',axis=1)

Groups        G1        G2
A       0.322760 -0.000820
B      -0.448073  0.659722