In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [9]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [14]:
d

{'a': 10, 'b': 20, 'c': 30}

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
ser1=pd.Series([1,2,3,4],['usa','germany','USSR','Japan'])

In [25]:
ser1

usa        1
germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser2=pd.Series([1,2,5,4],['usa','germany','italy','japan'])

In [28]:
ser2

usa        1
germany    2
italy      5
japan      4
dtype: int64

In [29]:
ser1['usa']

1

In [30]:
ser3=pd.Series(labels)
ser3

0    a
1    b
2    c
dtype: object

In [31]:
ser3[0]

'a'

In [32]:
ser1

usa        1
germany    2
USSR       3
Japan      4
dtype: int64

In [33]:
ser2

usa        1
germany    2
italy      5
japan      4
dtype: int64

In [34]:
ser1+ser2

Japan      NaN
USSR       NaN
germany    4.0
italy      NaN
japan      NaN
usa        2.0
dtype: float64